/* Estilos gerais para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Fundo cinza claro */
    margin: 0;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
  }